.text-white {
  color: #fff !important;
}

.app {
  background-color: #fff;
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  position: fixed;
}

.nav-bar {
  height: 10vh;
  background-color: #fff;
}
.page-header {
  width: 100%;
  .page-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    height: 100%;
  }
}
.side-bar {
  width: 360px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 3;
  .logo-container {
    height: 10vh;
  }
  .logo {
    font-size: 19px;
  }
}
.main {
  width: 100%;
  padding: 20px 33px;
  padding-top: 10px;
  min-height: 80vh;
  padding-top: 10px;
  overflow: auto;
}
.main-container {
  width: 100%;
  // margin-top: 15px;
  //   height: 100vh;
  background-color: $gray-100;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;

  //   box-shadow: 6px 5px 20px rgba(69, 65, 78, 0.1);

  .content {
    // height: 500px;
    min-height: 80vh;
    padding-top: 10px;
    overflow: auto; //
  }
  .footer {
    text-align: right;
    padding: 0 2rem;
    font-size: 12px;
  }
}
.user-img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
.navbar-search-input {
  border-radius: 22px;
  border: none;
  height: 45px;
  box-sizing: border-box;
  background-color: #e8e9ef;
  padding: 5px;
  padding-left: 10px;
  font-size: 12px;
  outline: none;
}
.sidebar-active-item {
  border-left: 4px solid $primary-secondary;
}
.siderbar-item {
  &:hover {
    border-left: 4px solid $primary-secondary;
  }
}
.card {
  border: none !important;
  border-radius: 20px !important;
}
.player-img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
.player-item {
  border-bottom: 0.5px solid $gray-100;
  padding: 5px;
}

.login {
  height: 100vh;
  background-color: $gray-100;
  .login-form {
    background-color: #fff;
    height: 300px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #ddd;
  }
  button {
    background-color: $primary;
    width: 300px;
  }
}
.match-item {
  height: 135px;
  padding: 10px;
  border-bottom: 1px solid $gray-100;
  box-shadow: 1px 1px 1px 1px #f1f1f1;
  margin-top: 5px;
}
.filter-item {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.active-filter {
  border-bottom: 2px solid $primary;
}
.login-container {
  background-image: url("../img/bgg.jpg");
  background-position: center;
  //background-size: cover;
}
